.sendpasswordbtn{
    margin: 5px;
    padding: 6px 25px;
    border: 1px solid #673AB7;
    border-radius: 2px;
    background: #fff;
    color: #673AB7;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    outline: none;
    transition: 0.5s all;
}

.sendpasswordbtn:hover{
    color: #fff;
    background: #673AB7;
}